
.con-vs-chip {
  background: #f0f0f0;
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 0.7rem;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-bottom: 3px;
  min-height: 28px;
  color: rgba(0, 0, 0, 0.7);
  position: relative;
}
.vuesax-app-is-rtl .con-vs-chip {
  float: right;
}
.vuesax-app-is-ltr .con-vs-chip {
  float: left;
}
.vuesax-app-is-rtl .con-vs-chip {
  margin-left: 2px;
}
.vuesax-app-is-ltr .con-vs-chip {
  margin-right: 2px;
}
.vuesax-app-is-rtl .con-vs-chip {
  padding-left: 10px;
}
.vuesax-app-is-ltr .con-vs-chip {
  padding-right: 10px;
}
.vuesax-app-is-rtl .con-vs-chip.closable {
  padding-left: 0;
}
.vuesax-app-is-ltr .con-vs-chip.closable {
  padding-right: 0;
}
.con-vs-chip.con-color .con-vs-avatar {
  background: hsla(0, 0%, 100%, 0.2);
}
.con-vs-chip .con-vs-avatar {
  width: 24px;
  height: 24px;
  position: relative;
  display: block;
  margin: 2px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.15);
}
.vuesax-app-is-rtl .con-vs-chip .con-vs-avatar {
  -webkit-transform: translate(8px);
  transform: translate(8px);
}
.vuesax-app-is-ltr .con-vs-chip .con-vs-avatar {
  -webkit-transform: translate(-8px);
  transform: translate(-8px);
}
.con-vs-chip .con-vs-avatar .material-icons {
  margin-top: 0;
  font-size: 0.8rem;
}
.con-vs-chip.bg-chip-transparent {
  font-weight: 500;
}
.vs-chip--close {
  width: 20px;
  height: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  border-radius: 50%;
  border: 0;
  margin: 0 4px;
  cursor: pointer;
  background: rgba(0, 0, 0, 0.15);
  color: #fff;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.vs-chip--close:hover {
  background: 255, 71, 87;
}
.vs-chip--close i {
  font-size: 0.9rem;
}
.vs-chip--text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.vuesax-app-is-rtl .vs-chip--text {
  margin-right: 10px;
}
.vuesax-app-is-ltr .vs-chip--text {
  margin-left: 10px;
}
.vs-chip-primary:not(.bg-chip-transparent) {
  background: rgba(var(--vs-primary), 1);
}
.vs-chip-primary.bg-chip-transparent {
  background: rgba(var(--vs-primary), 0.15);
  color: rgba(var(--vs-primary), 1);
}
.vs-chip-secondary:not(.bg-chip-transparent) {
  background: rgba(var(--vs-secondary), 1);
}
.vs-chip-secondary.bg-chip-transparent {
  background: rgba(var(--vs-secondary), 0.15);
  color: rgba(var(--vs-secondary), 1);
}
.vs-chip-danger:not(.bg-chip-transparent) {
  background: rgba(var(--vs-danger), 1);
}
.vs-chip-danger.bg-chip-transparent {
  background: rgba(var(--vs-danger), 0.15);
  color: rgba(var(--vs-danger), 1);
}
.vs-chip-success:not(.bg-chip-transparent) {
  background: rgba(var(--vs-success), 1);
}
.vs-chip-success.bg-chip-transparent {
  background: rgba(var(--vs-success), 0.15);
  color: rgba(var(--vs-success), 1);
}
.vs-chip-warning:not(.bg-chip-transparent) {
  background: rgba(var(--vs-warning), 1);
}
.vs-chip-warning.bg-chip-transparent {
  background: rgba(var(--vs-warning), 0.15);
  color: rgba(var(--vs-warning), 1);
}
.vs-chip-dark:not(.bg-chip-transparent) {
  background: rgba(var(--vs-dark), 1);
}
.vs-chip-dark.bg-chip-transparent {
  background: rgba(var(--vs-dark), 0.15);
  color: rgba(var(--vs-dark), 1);
}
.vs-chip-light:not(.bg-chip-transparent) {
  background: rgba(var(--vs-light), 1);
}
.vs-chip-light.bg-chip-transparent {
  background: rgba(var(--vs-light), 0.15);
  color: rgba(var(--vs-light), 1);
}
.con-chips {
  width: 100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-shadow: 0 2px 15px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 2px 15px 0 rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  overflow: hidden;
  padding: 5px;
}
.con-chips .con-vs-chip {
  margin-top: 0;
  margin-bottom: 0;
}
.con-chips--input {
  display: inline-block;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  color: inherit;
  padding: 9px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  min-width: 80px;
  border: 0;
}
.vuesax-app-is-rtl .con-chips--input {
  margin-right: 2px;
}
.vuesax-app-is-ltr .con-chips--input {
  margin-left: 2px;
}
.con-chips--remove-all {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 5px;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.vuesax-app-is-rtl .con-chips--remove-all {
  left: 0;
}
.vuesax-app-is-ltr .con-chips--remove-all {
  right: 0;
}
.con-chips--remove-all:hover {
  color: rgba(var(--vs-danger), 1);
}
.vuesax-app-is-rtl .no-items .con-chips--input {
  padding-right: 10px !important;
}
.vuesax-app-is-ltr .no-items .con-chips--input {
  padding-left: 10px !important;
}